C:\Users\Michael\IdeaProjects\Draft\src\main\java\JavaCookbook\Network2
C:\Users\Michael\IdeaProjects\Draft\src\main\java\Misc
C:\Users\Michael\IdeaProjects\Draft\target
C:\Users\Michael\IdeaProjects\Draft\src\test\java\Selenium\Mamba\DailySayHelloTest.java